<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/app.css">
    <script src="../angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1><img src="images/lunch.jpeg"/> Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="lunch" ng-class="borderColor">
             <div>Empty items, i.e.", ," , are not considered towards the count</div>

         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="check()">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-class="fontColor">
           {{message}}
         </div>
   </div>

</body>
</html>
